<div class="site-nav-content">
  <div class="site-logo nav-component">
    <img src="http://www.transervetechnologies.com/img/Final_Logo-01.png">
  </div>
  <div class="profile-loggd-in nav-component">
   
    <img src="../../../assets/man.svg">
    <p>Test user</p>
    <p>Test company</p> 
  </div>
  <div class="groups nav-component">
        <img src="../../../assets/folder.svg">
        <p>Groups</p>
  </div>
  <div class="projects nav-component active">
        <img src="../../../assets/folder.svg">
        <p>Projects</p>
  </div>
  <div class="forms nav-component">
        <img src="../../../assets/check-form.svg">
        <p>Forms</p>
  </div>
  <div class="settings nav-component">
        <img src="../../../assets/settings.svg">
        <p>Settings</p>
  </div>
  <div class="map-data nav-component">
        <img src="../../../assets/gdpr.svg">
        <p>Map and Data view</p>
  </div>
</div>
